#back {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
}

h1 {
    color: whitesmoke;
    text-shadow: rgb(93, 75, 255) 0 0 10px, rgb(93, 75, 255) 0 0 10px, rgb(93, 75, 255) 0 0 10px;
}

.divClass {
    display: flex;
    flex-direction: column;
    align-items: center;
    word-spacing: 10px;
    line-height: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}


#thirdDiv {
    width: fit-content;
    height: fit-content;
    background-color:slateblue;
    padding: 50px;
    margin: auto;

    border-radius: 10px;
    border-color: rgb(255, 91, 15);
    border-style: solid;
}


#thirdDiv img {
    max-height: 400px;
    list-style: none;
    display: inline-flex;
    padding: 5px;
    object-fit:cover;
}


img {
    width: 400px;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}