#back {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
}

h1 {
    color: whitesmoke;
    text-shadow: rgb(93, 75, 255) 0 0 10px, rgb(93, 75, 255) 0 0 10px, rgb(93, 75, 255) 0 0 10px;
}

.divClass {
    text-align: center;
}
#thirdDiv {
    width: 80%;
    min-height: 600px;
    background-color:slateblue;
    padding: 50px;
    margin: auto;
    margin-top: 20px;

    border-radius: 10px;
    border-color: rgb(255, 91, 15);
    border-style: solid;
}

#thirdDiv li {
    list-style: none;
}

#thirdDiv img {
    display: -webkit-flex;
    display: flex;
    
    width: 400px;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}