#background {
    filter: blur(2px);
    position: absolute;
    left: 0px;
    top: 0px;
    size-adjust: page;
    width: 200%;
    height: 200%;
    z-index: -1;

}

.First {
    text-align: center;
}
h1 {
    color: rgb(255, 0, 0);
}

.Second {
    text-align:center;
}

#Third {
    
    background-color: rgb(68, 0, 255);
    min-height: 0px;
    max-height: 850px;
    width: 500px;
    border: red;
    border-style: dashed;

}
ul {
    list-style: none;
    display: inline;
    text-align: center;
    top: 0px;
    margin: 5px;
    padding: 2px;
    
}

img {
    width: 400px;
}

#spanID {
    font-size: 18px;
    margin: 50px;
}
